.pet{
    border: 1px solid black;
    background-color:antiquewhite;
    padding:10px;
}
#pets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 10px;
}